.bodyColor {
    height: 100%; width: 100%; 
    background-color: #333; 
    color: #33FFFF; 
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
    margin: 0% 1% 1% 1%;
}

div .row .nav {
    height: 200px;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: justify;
}

.deleteColor {
    color: #003333;
}

.finalfooter {
    text-align: right;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}